* {
	font-family: 'Titillium Web', sans-serif;
}

@font-face{
    font-family: 'Digital';
    src: url('../fonts/digital.ttf');
}

@font-face{
    font-family: 'moonwalkerTitle';
    src: url('../fonts/Potra.ttf');
}

div#Landing-page{
	width: 100%;
	height:  100%;
	background-color: white;
	text-align: center;
}
div#Landing-page>img{
	/*width: 100%;*/
	height:700px;
	/*background-color: white;*/
	/*text-align: center;*/
}
img#banner{
	margin: 0, auto;
}
h1{
    font-family: 'Digital';
    text-shadow: 2px 2px #006600;
	text-align: center;
	color: white;
	font-size: 42px;

}
div{
	/*position: fixed;*/
	/*top: -47px;*/
	height:1080px;
	padding-top: 30px;
}


/*------Nav Bar CSS------------------------*/
#nav-bar-div{
	width: 100%;
	height: 47px;
	text-align: center;
	z-index: 1;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
	margin-bottom: 0px;
	padding-top: 0;
	top:0px;
	position: fixed;
	background-color: white;
}
#nav-bar{
	padding: 5px;
	box-shadow:0px 4px 4px 0px rgba(0,0,0,0.25);
}
.nav-item{
	display: inline;
	font: arial;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;

}
.nav-item:hover{
	cursor: pointer;
	color: #006600;
}

#moonwalker{
    font-family: 'moonwalkerTitle';
    text-shadow: none;
}
span.nav-text{
    font-family: 'Digital';
    text-shadow: 2px 2px #006600;
	font-weight: bold;
	/*text-decoration: underline;*/
}



/*--------------------------Story----------------------------------*/
#one{
	background-color: black;
	/*padding: 40px;*/
	background-image: url("../images/IMY320_2.PNG");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
	/*display: none;*/
}
#one>p{
	background-color:rgba(170,170,170,0.4); 
	/*height:100%;*/
	color :black;
	/*position:;*/
	/*top:;*/
	padding: 20px;	
	margin:17% 13%;
	/*margin:0 13%;*/
}

/*--------------------------Info----------------------------------*/
#two{
	background-color: black;
	display: none;
	/*padding: 120px;*/
}
#two>p{
	 margin:20px 13%;
}

#img2{
	margin-top: 40px;
	background-image: url("../images/IMY320_1.PNG"); /*Should change to a gif with the*/
	background-position: center center;
	height: 500px;
	/*width: 100%;*/
	background-repeat: no-repeat;
	background-size: contain;
}


/*--------------------------Trailer----------------------------------*/
#three{
	background-color:black; 
	/*display: none;*/
	background-image: url("../images/IMY320_2.PNG");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
}
#three>iframe{
    margin: 5% 19%;
    width: 62%;
    height: 450px;
	
}

ul{
	margin-bottom: 0;
}

p{
	padding: 80px 20px;
	text-align: justify;
	color: white;
}


/*----------------------------Contact Stuff---------------------------------*/
.contRow{
    height: 300px;
    margin-bottom: 2px;
    border: solid 1px RGBA(0,0,0,50%);
}

.contactImage{
    height: 200px;
    
}

.contacts{
    /*padding-left: 25%*/
    padding: 15% 10%
}
.contactsReduceSize{
    height: 300px;
}

#four{
	background-color:rgba(34,34,34,1); 
	display: none;
	
	background-image: url("../images/IMY320_2.PNG");
	height: 100%;
	width: 100%;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
}

ul.contactDetails{
    list-style: none;
}

/*--------------------------footer----------------------------------*/
#footer{
    background-image: url("../images/footer/footer.png");
	height: 100%;
	width: 100%;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
}

.footerContainer{
    height: 500px;
    color: white
}

.footerLists{
    list-style: none;
}

.footRow{
    height: 100%
}